.carousel {
    overflow: hidden;
    overflow-x: scroll;
}

.carousel-slider {
    position: relative;
    display: flex;
    flex-direction: row;
}

.slide {
    flex-shrink: 0;
}

.slide:first-child,
.slide:last-child {
    width: 25%;
    background-color: transparent;
    border: none;
}
.slide {
    width: 50%;
    height: 150px;
    background-color: red;
    border: blue solid 1px;
    text-align: center;
}

/* Unrelated */

body {
    color: white;
    background-color: black;
}

.slide {
}
